/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 21-may-2018, 19:03:40
    Author     : BET
*/

footer{
    background: #AE8D9B;
}

nav{
    background: #AE8D9B;
}

#titol_inici {
    font-family: ink free;
    font-size: 200%;
}

#icones {
    text-size: 200%;
    color: #AE8D9B;
}

#titol_inici_pares{
    font-family: Noto Sans;
    font-size: 200%;
    
}

#nav-pare{
    background: #3F729B;
}

#dropdownMenuLink1{
    background: #80deea;
}

#footer-pare{
     background: #3F729B;
}

#nav-cangur{
    background: #f57c00;
}

#dropdownMenuLink2{
    background: #ffd54f;
}

#footer-cangur{
        background: #f57c00;
}

#titol_inici_cangur{
    font-family: MV Boli;
    font-size: 200%;    
}

#boto1{
    background: #ffb74d;
}

#boto2{
    background: #ffcc80;
}

/*Valoracions*/

